.img {
  width: 100vw;          /* full screen width */
  height: 100vh;         /* full screen height */
  display: flex;         
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}

.img img {
  width: auto;   /* keep original width */
  height: auto;  /* keep original height */
}
